<div class="container">
	<%= render 'shared/social_networks_share_buttons' %>
	<!--Section: Slideshow-->
	<section class="section">
		<!--Section heading-->
		<h1 class="section-heading h1 pt-4 articles"><%= title 'Build a Photo Blog with Ruby on Rails' %></h1>
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="row">
					<% if slideshow_present? %>
						<% @slideshow.images.each do |x| %>
							<a href="<%= path_to_file(x) %>" data-lightbox="photo" class="col-sm-4">
								<%= image_tag x.variant(@options),
					:class => "img-fluid" %>
							</a>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<h1 class="section-heading h1 pt-4 articles">Slideshow</h1>
		<img src="slideshow.jpg" alt="Build a Photo Blog with Ruby on Rails">
		<!--Section description-->
		<p class="section-description">Панель администрирования блога позволяет удобное управление изображениями фотогалереи, сохраненными в облако Амазона (на выбор Amazon S3, Google Cloud Storage или Microsoft Azure Storage) средствами Active Storage. Выбор фотографий на вашем ПК, загрузка на Amazon S3 - нажатием всего пары кнопок.
			<br>Возможна публикация / снятие с публикации галереи изображений, удаление как всех фотографий галереи разом, так и выборочно.
			<br>Дополнительно реализованы трансформация превью изображений посредством фильтра monochrome и ресайз:
			<br>
			<br>Image blobs can have variants that are the result of a set of transformations applied to the original. These variants are used to create thumbnails, fixed-size avatars, or any other derivative image from the original. Variants rely on ImageProcessing gem for the actual transformations of the file, so you must add gem "image_processing" to your Gemfile if you wish to use variants. By default, images will be processed with ImageMagick using the MiniMagick gem, but you can also switch to the libvips processor operated by the ruby-vips gem.</p>
	</section>
</div>