<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="https://github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Ahoy. All-Round Web Analytics for Rails</h2>
      <p>Ряд примеров, иллюстрирующих возможности встроенной веб-аналитики Ahoy: отображена актуальная статистика посещений этого блога за месяц. Для построения диаграмм использован Highcharts.</p> <span class="badge badge-warning">Monthly statistics</span>
      <div class="card">
        <div class="card-body">
          <div id="container3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>
      </div>
      <%= render 'charts' %>
    </div>
  </div>
</div>
