<div class="col-lg-8 col-md-10 mx-auto">
	<ul class="list-inline text-center">
		<li class="list-inline-item">
			<a href="https://linkedin.com/in/acmirnow" target="_blank">
				<span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span> 
            </a>
		</li>
		<li class="list-inline-item">
			<a href="https://facebook.com/cmirnow" target="_blank"> 
				<span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span> 
            </a>
		</li>
		<li class="list-inline-item">
			<a href="https://github.com/cmirnow/CRUD-Blog" target="_blank"> 
				<span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span> 
            </a>
		</li>
	</ul>
	<p class="copyright text-muted">Copyright &copy; 2020 - 2021
		<%= link_to "Masterpro Studio", ENV['HYPERLINK_BANNER'], target: "_blank" %></p>
</div>