<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<% @posts.each do |i| %>
				<div class="post-preview">
					<h2 class="post-title">
						<%= link_to i.title, {controller: "posts", action: "show", id: i.id} %>
					</h2>
					<!--<h2 class="post-title">
              <%#= i.title %>
            </h2>
             <h3 class="post-subtitle">
              <%#= sanitize(Post.find(i).text[0,80]) %>
            </h3>-->
					<p class="post-meta">Posted on
						<%= i.created_at %>
					</p>
				</div>
				<hr>
			<% end %>
					<!-- Pager 
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
		</div>
	</div>
</div>
<hr>
