@import "bootstrap";
@import "glightbox/dist/css/glightbox.css";

/* Carousel dark overlay */
.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Slider caption style */
.carousel-caption {
    left: 2%;
    top: 5% !important;
    transform: translateY(-50%);
    text-align: left;
    bottom: initial;
}