// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.badge-warning {
    color: black !important;
}

button {
    background-image:none !important;
    color: #999 !important;
}
button:not(.disabled):hover {
    background-color: #999;
    color: white !important;
}
