// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.badge-warning {
    color: black !important;
}

a.button, a.button:link, a.button:visited, input[type="submit"], input[type="button"], button {
    background-image:none !important;
    color: #999 !important;
}
a.button:not(.disabled):hover, a.button:link:not(.disabled):hover, a.button:visited:not(.disabled):hover, button:not(.disabled):hover {
    background-color: #999;
    color: white !important;
}
